# .dockerignore for a .NET 10 API

bin/
obj/
*.user
*.suo
*.vs/
.vscode/
*.log
*.db
*.sqlite
*.pdb
*.mdb
*.pidb
*.cache
*.config
*.env
node_modules/
Dockerfile*
docker-compose*
.git/
.gitignore
.idea/
*.swp
*.tmp
*.bak
*.ncrunch*
*.DS_Store
Thumbs.db